/* reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    background-color: lightblue;
}

.container{
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    
  
    
}

.image{
    width: 22%;
    height: 200px;
    cursor: pointer;
    overflow: hidden;
    margin: 10px;
    border-radius: 4px;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    transition: all 0.25s ease 0s;
}
.image:hover img {
    transform: scale(1.2);
 }

 .gallery{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgb( 0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.8);
    transition: 0.5s;
 }
 .close{
     position: fixed;
     top: 15px;
     right: 25px;
     font-size: 35px;
 }
.gallery__inner{
    width: 70%;
    height: 70%;
    margin: 0 auto;
}
.control{
    font-size: 35px;
    position: absolute;
    color: rgba( 255, 255, 255, 0.8);
}
.control.prev{
    left: 15px;
}
.control.next{
    right: 15px;
}

.show{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}